---
BasedOnStyle: Google
IndentWidth: 2
---
Language: Cpp
Standard: c++20
AlignConsecutiveAssignments: true
AllowShortFunctionsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: false
BinPackArguments: false
ColumnLimit: 90
